.header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-flow: row nowrap;
    align-items: center;
    margin-top: 50px;
    position: relative;
    z-index: 200;
}

