.header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-flow: row nowrap;
    margin-top: 6%;
}
.header-logo {
    font-size: 36px;
    color: white;
    font-weight: 800;
}
.header-menu {
    display: flex;
}

.header-soc {
    display: flex;
}
