.skills {
    display: flex;
    width: 100%;
}
.skills__container {
    display: flex;
    height: 100vh;
    flex-direction: column;
}
.skills__content {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: center;
    margin-top: 130px;
    padding: 0 26% 0 34%
}

.skills__content__text {
    margin-top: 50px;
    opacity: .5;
    line-height: 1.9;
}
.title__content {
    font-size: 30px;
}

