script(type='text/x-template')#reviews
    .reviews__content
        .reviews__title
            h2.title.review__title Что обо мне говорят
            .reviews__slider--buttons
                button.circle__button(type='button' @click="slide('prev')")
                    +icon('arrow-down','arrow-down-icon arro-down-icon__rotate')
                button.circle__button(type='button' @click="slide('next')")
                    +icon('arrow-down','arrow-down-icon') 
        .reviews__slider
            ul.reviews__slider-list(ref='reviews-sliders')
                li.reviews__slider-item(v-for='review in reviews')
                    blockquote.reviews__slider-item__text {{review['review-text']}} 
                    .reviews__slider-item__user
                            .reviews__user-photo
                                img(:src="review['review-pic']").photo-pic1
                            .reviews__user-data
                                .reviews__user-data__name {{review['review-name']}}                 
                                .reviews__user-data__post {{review['review-post']}}               
