.tick-icon {
  width: 17px;
  height: 15px;
  fill: #20dc29;
}

.cross-icon {
  width: 17px;
  height: 15px;
  fill: #bf2929;
}
.pencil-icon {
  width: 16px;
  height: 15px;
  fill: blue;
}
.trash-icon {
  width: 16px;
  height: 15px;
  fill: #414c63;
  justify-self: end;
}
.man-user-icon {
  height: 113px;
  width: 85px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: #fff;
}