.tick-icon {
    width: 17px;
    height: 15px;
    fill: #20dc29;
}

.cross-icon {
    width: 17px;
    height: 15px;
    fill: #bf2929;
}
.pencil-icon {
    width: 16px;
    height: 15px;
    fill: #414c63;
}
.trash-icon {
    width: 16px;
    height: 15px;
    fill: #414c63;
    justify-self: end;
}