section#about.about-section      
    .about
        .container.about__container
            .about__data
                .about-me
                    .about-me__photo
                        +image('content/photo/photo.jpg','photo-pic')
                    .about-me__desc
                        .about-me__hello
                            |Привет, меня зовут
                        .about-me__name
                            |Сергей Кораблев
                        p.about-me__ido
                            |Я занимаюсь разработкой современных сайтов и приложений.
                            |Мне нравится делать интересные и современные проекты.

                .about-content
                    table.about-content__table
                        tr
                            td.question Проживаю:
                            td.answer Санкт-Петербург
                        tr
                            td.question Возраст:
                            td.answer 33 года
                        tr
                            td.question Родился:
                            td.answer 6 апреля 1985

                    p.about-content__quote
                        |Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool.
                        |Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!