footer.footer
    .container
        .footer__col
            .footer-copyright
                .footer-copyright__year © 2019
                .footer-data
                    .footer-data__name Сергей Кораблев
                    .footer-data__content 
                        |Личный сайт 
                        span веб разработчика
            .footer-content
                +menu('footer', 'footer')
                .footer-desc
                    .footer-desc__col
                        .footer-desc__part
                            .footer-desc__loftschool 
                                |Этот сайт я сделал в рамках обучения в Школе онлайн образования Loftschool
                            +soc('footer')
                        .footer-desc__part
                            .footer-desc__quote
                                .footer-desc__text 
                                    |Всегда пишите код так, как будто сопровождать его будет склонный к насилию психопат, который знает где вы живете
                                .footer-desc__author
                                    |Martin Golding