footer.footer
    .container.footer__container
        .footer__col
            .footer__col__left
                .col-left__year © 2019
            .footer__col__middle
                .col-middle__name Сергей Кораблев
                .col-middle__content 
                    |Личный сайт 
                    span веб разработчика
            .footer__col__right
                .footer__menu
                    include ./menu-list
                .footer__desc
                    .footer__desc__col
                        .footer__desc__col-left
                            .desc__loftschool 
                                |Этот сайт я сделал в рамках обучения в Школе онлайн образования Loftschool
                            .desc__soc
                                include ./soc-list
                        .footer__desc__col-right
                            .desc__quote
                                .desc__quote__text 
                                    |Всегда пишите код так, как будто сопровождать его будет склонный к насилию психопат, который знает где вы живете
                                .desc__quote__author
                                    |Martin Golding