form#form.reviews__form
    h2.title.review__title Связаться со мной
    .reviews__form__content
        .reviews__form__row.first__row
            label.reviews__form__block.first__block(for='name')
                .reviews__form__block__name Введите ваше имя
                .reviews__form_block__field
                    +icon('user','form-icon')
                    input.form__block__input(type="text" id='name' name='name' placeholder='Ковальчук Дмитрий')
            label.reviews__form__block(for='email')
                .reviews__form__block__name Введите ваш email
                .reviews__form_block__field
                    +icon('envelope','form-icon')
                    input.form__block__input(type="email" id='email' name='email' placeholder='loftschool@study.com')
        .reviews__form__row
            label.reviews__form__block(for='comment')
                .reviews__form__block__name Сообщение к письму
                .reviews__form_block__field
                    +icon('message','form-icon')
                    textarea.form__block__input(type="text", id='comment', name='comment', placeholder='Требуется ваша помощь в создании сайта. Интересуют сроки и цена вопроса')
    button.send-button(type='button') Отправить