header.header
    .header-logo
        a.header-logo__link(href='#') СК
    .header-menu
        include ./menu-list
    .header-soc
        include ./soc-list
    button.hamburger-menu-link(type='button')
        .hamburger-menu-link__bars