section#hero.hero-section
    include ./parallax
    .hero.fullscreen-section
        .container.hero__container
            include ./header
            .hero__content
                .hero__col
                    h1.hero__text 
                        |Личный сайт 
                        span веб разработчика
                    h1.hero__name 
                        |Сергей Кораблев
            include ./scroll
