ul.menu-list(id="menu-scroll")
    li#nav__item.menu-item
        a.menu-link(href='#' v-scroll-to="'#hero'") Главная
    li#nav__item.menu-item
        a.menu-link(href='#' v-scroll-to="'#about'") Обо мне
    li#nav__item.menu-item
        a.menu-link(href='#' v-scroll-to="'#skills'") Навыки
    li#nav__item.menu-item
        a.menu-link(href='#' v-scroll-to="'#my-work'") Работы
    li#nav__item.menu-item
        a.menu-link(href='#' v-scroll-to="'#reviews'") Отзывы
    li#nav__item.menu-item
        a.menu-link(href='#' v-scroll-to="'#form'") Связаться