ul.menu-list
    li#nav__item.menu-item
        a.menu-link(href='#hero') Главная
    li#nav__item.menu-item
        a.menu-link(href='#about') Обо мне
    li#nav__item.menu-item
        a.menu-link(href='#skills') Навыки
    li#nav__item.menu-item
        a.menu-link(href='#my-work') Работы
    li#nav__item.menu-item
        a.menu-link(href='#reviews') Отзывы
    li#nav__item.menu-item
        a.menu-link(href='#reviews') Связаться