ul.menu-list
    li.menu-item
        a.menu-link(href='#') Главная
    li.menu-item
        a.menu-link(href='#') Обо мне
    li.menu-item
        a.menu-link(href='#') Навыки
    li.menu-item
        a.menu-link(href='#') Работы
    li.menu-item
        a.menu-link(href='#') Отзывы
    li.menu-item
        a.menu-link(href='#') Связаться