section#skills.skills-section
  .skills__bg
    +image('content/bg/arms.png','arms-pic')
  .skills
    .container.skills__container
      .skills__content
        h2.title__content Чем я могу быть вам полезен
        p.skills__content__text Этот сайт я сделал в рамках обучения в Школе онлайн образования Loftschool. Чуть позже я освежу в нем свой контент. А пока посмотрите, как тут всё классно и красиво!
      .skills__user
        #skills-component