ul.soc-list.footer__soc-list
    li.soc-item
        a.soc-link(href='#')
            +icon('insta','soc-icon')
    li.soc-item
        a.soc-link(href='vk.com')
            +icon('vk','soc-icon')
    li.soc-item
        a.soc-link(href='github.com')
            +icon('github','soc-icon')