ul.soc-list.footer__soc-list
    li.soc-item
        a.soc-link(href='https://www.instagram.com/sergiobateau/')
            +icon('insta','soc-icon')
    li.soc-item
        a.soc-link(href='https://vk.com/sergiobateau')
            +icon('vk','soc-icon')
    li.soc-item
        a.soc-link(href='https://github.com/SergioBateau')
            +icon('github','soc-icon')