include ./mixins.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | main page
  body
    .wrapper
      .maincontent
        section.first-section
          .hero
            .container.hero__container
              header.header
              .hero__content
              .hero__scroll
        section.second-section      
          .about
            .container
              .about__col
                .about__me
                .about__text
        section.third-section
          +image('content/bg/arms.png','arms-pic')
          .skills
            .container
              .skills__content
              .skills__diagram
        section.four-section
          .my-work
            .container
              .my-work__col
                .my-work__preview
                .my-work__preview__content
        section.five-section
          +image('content/bg/leaves4.png','leaves4-pic')
          .reviews
            .container
              .reviews__slider
              .reviews__form    
      footer.footer
        
          