include ./mixins.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | main page
  body
    .wrapper
      .maincontent
        section.first-section
          .hero
            .container.hero__container
              header.header
                .header-logo
                  a.header-logo__kink(href='#') СК
                .header-menu
                  ul.menu-list
                    li.menu-item
                      a.menu-link(href='#') Главная
                    li.menu-item
                      a.menu-link(href='#') Обо мне
                    li.menu-item
                      a.menu-link(href='#') Навыки
                    li.menu-item
                      a.menu-link(href='#') Работы
                    li.menu-item
                      a.menu-link(href='#') Отзывы
                    li.menu-item
                      a.menu-link(href='#') Связаться
                .header-soc
                  ul.soc-list
                    li.soc-item
                      a.soc-link(href='#')
                        +icon('insta','soc-icon')
                    li.soc-item
                      a.soc-link(href='vk.com')
                        +icon('vk','soc-icon')
                    li.soc-item
                      a.soc-link(href='github.com')
                        +icon('github','soc-icon')
              .hero__content
                .hero__content__col
                  .hero__content__col-left 
                    |Личный сайт 
                    span веб разработчика
                  .hero__content__col-right 
                    |Сергей Кораблев
              .hero__scroll
                a.scroll-link(href="#") Скролл
        section.second-section      
          .about
            .container.about__container
              .about__col
                .about__me
                  .about__me__photo
                    +image('content/photo/photo.jpg','photo-pic')
                .about__text
        section.third-section
          +image('content/bg/arms.png','arms-pic')
          .skills
            .container
              .skills__content
              .skills__diagram
        section.four-section
          .my-work
            .container
              .my-work__col
                .my-work__preview
                .my-work__preview__content
        section.five-section
          +image('content/bg/leaves4.png','leaves4-pic')
          .reviews
            .container
              .reviews__slider
              .reviews__form    
      footer.footer
        
          